#content{
	height: 100%;
}
#text{
	height: 100%;
}
textarea{
	position: absolute;
	outline: none;
	font-size: 40px;
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	text-align: center;
	background: none;
	color: #111346;
}
.new{
	z-index: 100;
}
.old{
	z-index: 10;
	color: brown;
}

textarea[name=txt1]{
	font-family: 'Proxima';
	font-size: 54px;
}
textarea[name=txt2]{
	font-family: 'ChopinScript';
	font-size: 164px;
}

.new[name=txt1]{
	z-index: 110;
}
.new[name=txt2]{
	z-index: 100;
}
