#content{
	height: 100%;
}
#text{
	height: 100%;
}
textarea{
	outline: none;
	font-family: 'Proxima';
	font-size: 40px;
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	text-align: center;
	font-weight: bold;
	background: none;
}
